.App {
  text-align: center;
}

.App-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.upbutton {
    position: absolute;
    top: 50px;
    left: 473px;
    width: 40px;
    height: 40px;
 }

.rightbutton {
  position: absolute;
  top: 93px;
  left: 516px;
  width: 40px;
  height: 40px;
}

.downbutton {
  position: absolute;
  top: 137px;
  left: 473px;
  width: 40px;
  height: 40px;
}

.leftbutton {
  position: absolute;
  top: 93px;
  left: 429px;
  width: 40px;
  height: 40px;
}

.removebutton {
  position: absolute;
  top: 93px;
  left: 473px;
  width: 40px;
  height: 40px;
}

.config1button {
  position: absolute;
  top: 20px;
  left: 50px;
}

.config2button {
  position: absolute;
  top: 20px;
  left: 125px;
}

.config3button {
  position: absolute;
  top: 20px;
  left: 200px;
}

.resetbutton {
  position: absolute;
  top: 20px;
  left: 340px;
}